.karusel {
  background: #fff;
}
.karusel__container {
  display: flex;
  flex-direction: column;
  padding-top: 23rem;
  padding-bottom: 23rem;

  @media screen and (max-width: 765px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
.karusel__text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 765px) {
    display: flex;
    flex-direction: column;
  }

  p {
    width: 100%;
    max-width: 52rem;
  }

  h2 {
    @media screen and (max-width: 765px) {
      padding-bottom: 1rem;
    }
  }
  p {
    @media screen and (max-width: 765px) {
      max-width: 300px;
      padding-bottom: 2rem;
    }
  }
}

.karusel__bulim {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
  padding-top: 9rem;

  @media screen and (max-width: 765px) {
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 2rem;
  }
}
.karusel__qator {
  p {
    font-family: Poppins;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 4.2rem;
    color: #000;
    padding-bottom: 2.6rem;
    padding-top: 2.6rem;

    @media screen and (max-width: 765px) {
      font-size: 1.9rem;
      line-height: 2.8rem;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
  }
  @media screen and (max-width: 765px) {
    border: 3px solid rgb(0, 140, 255);
    border-radius: 1rem;
    padding-bottom: 1rem;
  }
}
